<div *ngIf="!createNote; else createNoteCnt" (click)="handleCreateNote('open')" >
    <div class="container" >
        <span class="box">Take a note...</span>
        <div class="note-icons-cnt">
            <mat-icon svgIcon="list-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="brush-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="image-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
        </div>
    </div>
    <br>
</div>
<ng-template #createNoteCnt>
    <div class="notes-cnt">
        <input [(ngModel)]="title" type="text" placeholder="Title">
        <input [(ngModel)]="description" type="text" placeholder="Take a note...">
        <div class="icons">
            <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="color-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="image-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <button class="close-button" mat-button (click)="handleCreateNote('close')">Close</button>
        </div>
    </div>
</ng-template>
