<div class="note-card-outer">
  <div *ngFor="let note of notesData" class="note-card">
   
    <mat-icon class="pin-icon" svgIcon="pin-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
    <div class="note-content">
      <span class="sample-text">{{note.title}} </span>
      <span class="sample-text">{{note.description}} </span>

    </div>
    <div class="note-icons">
      <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="color-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="image-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="archive-icon" (click)="handleNoteIconsClick('archive',note)" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="more-icon" [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span (click)="handleNoteIconsClick('trash',note)">Delete note</span>
      </button>
      <button mat-menu-item disabled>
        <span>Add label</span>
      </button>
      <button mat-menu-item disabled>
        <span>Make a copy</span>
      </button>
    </mat-menu>
  </div>
</div>
