<div class="header-container">
    <div class="header">
        <div class="header-content">
            <mat-icon (click)="HandelToggleDrawer()" class="menu-icon" svgIcon="menu-icon" aria-hidden="false" aria-label="Menu SVG icon"></mat-icon>
            <img src="assets/keepimg.png" alt="Fundoo Logo">
            <span class="header-title">Keep</span>
        </div>
        <div class="search-container">
            <mat-icon class="search-icon" svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
            <input type="text" class="search-input" placeholder="Search...">
        </div>
        <div class="right-icons">
            <mat-icon class="refresh-icon" svgIcon="refresh-icon" aria-hidden="false" aria-label="Refresh SVG icon"></mat-icon>
            <mat-icon class="list-view-icon" svgIcon="list-view-icon" aria-hidden="false" aria-label="List SVG icon"></mat-icon>
            <mat-icon class="setting-icon" svgIcon="setting-icon" aria-hidden="false" aria-label="Settings SVG icon"></mat-icon>
        </div>
        <div class="right-icon-end">
            <mat-icon class="refresh-icon" svgIcon="other-icon" aria-hidden="false" aria-label="Refresh SVG icon"></mat-icon>
            <span class="account-initial">P</span>
        </div>
    </div>
</div>